@model R5A08_TP1.Models.EntityFramework.Produit

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Produit</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdMarque)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdMarque)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdTypeProduit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdTypeProduit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomProduit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomProduit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DescriptionProduit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DescriptionProduit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomPhotoProduit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomPhotoProduit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.UriPhotoProduit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.UriPhotoProduit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockReelProduit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockReelProduit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockMinProduit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockMinProduit)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.StockMaxProduit)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.StockMaxProduit)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdProduit">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
